/* 头部样式开始 */
body {
    background-color: #f4f4f4;
}

.header {
    width: 100%;
    height: 140px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.wrap {
    width: 1190px;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 190px;
    height: 120px;
    margin-top: 10px;
    background: url("../images/sprite.png") no-repeat;
    background-size: contain;
}

.search-log {
    display: none;
    float: left;
    width: 125px;
    height: 40px;
    background: url("../images/sprite.png") no-repeat;
    background-size: contain;
    background-position: -2px;
}

.search {
    float: left;
}

.form {
    position: relative;
    width: 550px;
    height: 36px;
    border: 2px solid #e2231a;
    box-sizing: border-box;
    margin-top: 25px;
    margin-left: 70px;
}

.hot-word {
    float: left;
    width: 425px;
    height: 26px;
    padding: 2px 44px 2px 17px;
    border: 1px solid transparent;
    outline: none;
}

.form>button {
    float: left;
    width: 58px;
    height: 32px;
    line-height: 32px;
    background-color: #e1251b;
    cursor: pointer;
}

.form>button:hover {
    background-color: #c81623;
}

.list {
    display: none;
    position: absolute;
    left: 0;
    top: 36px;
    width: 488px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list>p {
    text-align: left;
    line-height: 25px;
    font-size: 14px;
    color: #666;
    padding: 0 5px;
    cursor: pointer;
}

.list>p:hover {
    background-color: #ddd;
}

/* 吸顶的样式 */
.header-fix {
    z-index: 999;
    position: fixed;
    top: -52px;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #f10214;
    background-color: #fff;
    animation: searchTop .5s ease-in-out;
}

@keyframes searchTop {
    0% {
        top: -52px;
    }

    100% {
        top: 0;
    }
}


/* 头部样式结束 */

/* banner样式开始 */
.banner {
    width: 100%;
    height: 470px;
    margin-bottom: 30px;
    padding-top: 10px;
}

.banner-box {
    width: 790px;
    height: 470px;
    float: left;
    margin: 0 10px;
}

.slide-banner {
    position: relative;
    float: left;
    width: 590px;
    height: 470px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 25px;
    height: 35px;
    background-color: rgba(0, 0, 0, .15);
}

.prev {
    left: 0;
    border-radius: 0 18px 18px 0;
}

.next {
    right: 0;
    border-radius: 18px 0 0 18px;
}

.banner-btn {
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.banner-btn>li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 4px;
    float: left;
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: rgba(255, 255, 255, .4);
}

.banner-btn>.btn-active {
    width: 9px;
    height: 9px;
    border: 3px solid rgba(0, 0, 0, .1);
    background-color: #fff;
    margin-top: -2px;
}

.banner-aside {
    width: 190px;
    height: 470px;
    float: right;
}

.banner-aside li {
    height: 150px;
    margin-bottom: 10px;
}

.banner-aside img {
    width: 100%;
}

.banner-left,
.banner-right {
    width: 190px;
    height: 470px;
    background-color: #fff;
    float: left;
}

/* banner样式结束 */

/* 主体样式开始 */
.home {
    position: relative;
    height: 4000px;
}

.miaosha {
    height: 260px;
    background-color: pink;
}

.tese {
    height: 980px;
    background-color: palegreen;
}

.guangchang {
    height: 1005px;
    background-color: palevioletred;
}

.forU {
    height: 666px;
    background-color: paleturquoise;
}

/* 电梯样式 */
.elevator {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 615px;
    transition: all .5s;
}

.elevator>a {
    display: block;
    width: 58px;
    height: 38px;
    color: #333;
    font-size: 14px;
    line-height: 19px;
    padding: 11px 0;
    background-color: #fff;
}

.elevator-fix {
    position: fixed;
    top: 75px;
}

.elevator>.active {
    color: #e1251b;
}

/* 主体样式结束 */